div#main { width: 994px; }
body{ background-image: url('back.png'); }
#footer { padding-top: 0px; width: 990px;  position: relative; right: 118px; }
.content { min-height: 68px; width: 768px; display: inline-block; /*background-color: #ffcc66;*/ }
.title { margin-top: 36px;  /* background-color: #de0d43; */ background-image: url('titleback.png'); color: rgb(150, 93, 101); } .title span font { margin-top: 25px; }
.section { margin-top: 42px; min-height: 68px; /* background-color: #76d9ae; */ width: 690px; position: relative; left: 78px; }
.sidebar { display: inline; /* background-color: #de0d43; */ position: absolute; top: 138px; width: 218px; text-align: right; }
.menuheader { letter-spacing: 1.1em; margin: -1.2em; }
.fontmargin { margin-top: 22px; }
#wrap { background-image: url('headerback.png'); background-repeat: repeat-x; }
.subheader { letter-spacing: 1.2em; margin: -1.2em; font-size: 0.8em; float: right; position: relative; left: 206px; color: rgb(150, 93, 101); line-height: 1.15em; }
.sidebar { color: rgb(150, 93, 101); }

.sidebar a:link, .sidebar a:visited, .headline a:link, .headline a:visited { 
color: rgb(150, 93, 101) !important; 
text-decoration: none;
}

#facebox .content { padding-top: 14px !important; }

*::selection { background: #B8B6A5; /* Safari */ }
*::-moz-selection { background: #B8B6A5; /* Firefox */ }
.mobile, #beencopied, .footerfieldfocus { display: none; }

.footerfieldfocus{
		width: 751px;
    left: 146px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    margin-left: 0px;
    margin-bottom: 0px;
    border-bottom: 8px ridge rgb(150, 93, 101);
    border-top: 8px ridge rgb(150, 93, 101);
}

.footerfieldfocus input, .footerfieldfocus button {
	font-size: 1.35em; background-color: #dcddcb;
}
.footerfieldfocus input[type="text"] { width: 70%; }

@media screen and (max-width: 600px) {
	.content { max-width: 90% !important; width: 90 !important; }
	div#main { width: 90% !important; }
	div.sidebar, div.peel, .desktop { display: none !important; }
	div.section { width: 100% !important; }
	div.col { clear: both; }
	.subheader{ position: absolute; left: 24px; }
	.n550d { width: 90% !important; }
	.mobile { display: block; }
	.title { margin-top: 100px; display: block; }
	.section { left: 0px !important; }
	li { padding-bottom: 0.85em !important; }
  .footerfieldfocus{ width: 100%; left: 0px; }
  .footerfieldfocus input[type="text"] { width: 70%; }
  .footerfieldfocus input[type="button"] { width: unset; }
  .w55p-mw600 { width: 55%; }
}


@media screen and (max-width: 400px) { /* smartphone devices */
.footerfieldfocus input[type="text"] {
  width: 89%;
}
}

/* ----- jquery form validation ----- */
/* 
  Text Errors for validation
*/

label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }
.required {  
 /*font-family: Verdana, Arial, Helvetica, sans-serif; */
 font-size: 24px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
}


/* ----------------- tape -----------------  */

.tape {
  position: relative;
  background-image: url('tapeleft.png'),
                    url('taperight.png');
  background-repeat: no-repeat;
  background-position: left, right;
  font-size: 1.05em;
  min-height: 32px;
  min-width: 75px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  color: black;
}
.tape::before {
  content: '';
  position: absolute;
  top: 0;
  left: 10px; 
  right: 10px;
  height: 32px;
  background: url('tapemiddle.png') center;
  z-index: -1
}

.tape span {
  padding-left: 16px;
  padding-right: 16px;
}



/* ----- menus ----- */

#navcontainer ul
{
padding-left: 0;
margin-left: 0;
background-color: #965D65;
color: White;
float: left;
width: 100%;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 0.2em 1em;
background-color: #965D65;
color: White;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
}

#navcontainer ul li a:hover
{
background-color: #369;
color: #fff;
}
