@font-face {
    font-family: 'meslo_lg_mregular';
    src: url('fonts/meslolgm-regular-webfont.eot');
    src: url('fonts/meslolgm-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/meslolgm-regular-webfont.woff') format('woff'),
         url('fonts/meslolgm-regular-webfont.ttf') format('truetype'),
         url('fonts/meslolgm-regular-webfont.svg#meslo_lg_mregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ margin: 0px; padding: 0px; font-family: 'ToshnaStdBDemo-Regular Hinted', 'ToshnaStdBookDemoRegular', Georgia, Garamond, Tahoma, Arial; background-color: #EFEBC9; scrollbar-base-color: #eeecca;
scrollbar-arrow-color: #cf9766; line-height: 1.3em; }
.peel{ float: right; position: absolute; width: 184px; height: 151px;
    background-image: url("peel.png"); right: 0px;
    padding: 0px; margin: 0px;}
img { border: 0px; }
hr { border: 1px solid #E8CDB5; width: 90%; }

.notice{
text-align: center;
color: #0c0c0c;
font-weight: bold;
background-color: #F4BB90;
width: 100% - 1px;
padding: 8px;
border-top: solid #ECDBD0 8px;
margin-top: 32px;
}

.logohere { font-size: 2em; margin: 24px 0px; }
.headline { font-size: 1.2em; letter-spacing: 1.5em; }
.shoulderline { font-size: 1.0em; letter-spacing: 1.2em; }
.emphasize { color: #C48040; border-bottom: dashed 0px #C48040; font-size: 0.9em; }

#main, #footer { margin-left: auto; margin-right: auto; width: 755px; }
.filetile { display: inline-block; /* height: 32px; */ min-width: 150px; border-bottom: 0px dotted orange; margin-right: 3px; margin: 5px; padding: 3px; }
    .filetile img { margin-right: 3px; }
ul { list-style: none;}
li { padding-bottom: 3px; }
#sitewide { padding-left: 0px; list-style: inline; margin-top: 32px; }
#sitewide li { display: inline; margin-right: 8px; }

textarea, input, select { margin: 8px; margin-left: 16px;}


a:link, a:visited{ color: #0066cc; text-decoration: none; }
li a:link, li a:visited, .headline a:link, .headline a:visited { color: #000000; text-decoration: none; }
a:hover{ color: #ff0000; text-decoration: none; border-bottom: 3px solid #ff0000; cursor: pointer; }
a:active{ color: #0066cc; text-decoration: none; border-bottom: 3px solid #0066cc; cursor: pointer;}

#cogs { display: none; }

/* sticky footer */
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 75px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -75px; /* negative value of footer height */
	height: 75px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

/* forms
----------------------------------------------- */

.bigbutton, .minibutton, button, input[type=submit], select, input[type=button], input[type=text], textarea {
	font-family: 'Droid Sans', 'meslo_lg_mregular', Verdana, Arial, Helvetica, sans-serif; 
}

.bigbutton { 
 font-size: 24px; 
 background-color: #cccccc; 
 color: #666666; 
 margin-right: 6px; 
 border: 1px ridge #ccccc;
}

.bigtext {
 font-size: 24px;
 margin-right: 6px;
 background-color: #dcddcb; border: 1px solid #666666;
}

.mediumbutton{
 font-size: 16px;
 background-color: #dcddcb; color: #666666;
 margin-right: 6px;
 border:3px solid #cccccc; padding: 3px; 
}

.mediumtext {
 font-size: 16px;
 margin-right: 6px;
 background-color: #dcddcb; border: 0px solid #666666;
 border:3px ridged #f46539;
 text-align: left; vertical-align: top;
 color: #3c3c3c;
}

.smallbutton{
 font-size: 14px;
 background-color: #dcddcb; color: #666666;
 margin-right: 6px;
 border:3px solid #cccccc; padding: 0px 3px; 
}